name: Build-armhf

on:
  push:
    branches: [ main ]
    paths-ignore: [README.md]
  pull_request:
    branches: [ main ]
    paths-ignore: [README.md]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install Dependencies
        run: |
          DEBIAN_FRONTEND=noninteractive sudo apt update
          DEBIAN_FRONTEND=noninteractive sudo apt -y install build-essential cmake
          
      - name: Build
        run: |
          cd C-edition/
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Release ..
          make -j4
          
      - name: gen-date
        run: echo "DATE=$(date +"%F")" >> $GITHUB_ENV
        
      - name: prepare-upload
        run: |
          cd C-edition/build
          mkdir aptpac-armhf_$DATE/
          mv ./aptpac aptpac-armhf_$DATE/
          cd aptpac-armhf_$DATE/
          echo -e "\n armhf aptpac daily build for $DATE
          ===================================\n" > README.txt
  
      - name: upload
        uses: actions/upload-artifact@v2
        with:
          name: aptpac-armhf_${{ env.DATE }}
          path: C-edition/build/aptpac-armhf_${{ env.DATE }}/
          
